@charset "utf-8";
/* CSS Document */

body {
  padding-top: 0;
  font-family: Lexend Deca;
  font-size: 16px;
  background: #FF9A00;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

#textcont {
  height: 100vh;
  width: 100vw;
  text-align: right;
}

#text1 {
  font-size: 3em;
  color: #093C75;
  position: absolute;
  bottom: 10vh;
  right: 10vh;
  transition: transform 0.2s linear;
  transform: translate(10vh, 0);
}

#back {
	font-size: 1.5em;
	position: absolute;
	bottom: 5vh;
	right: 10vh;
	transition: transform 0.07s linear;
}

/* Text Color */
#pair a:link, #pair a:visited {
  color: #0D5FB9;
}

/* Title and back button when hovered over*/
a:hover #back {
	transform: scale(1.2);
}

/* Text color when shape clicked on */
#pair a:focus, #pair a:active {
  /*color: #093C75;*/
  color: #0D5FB9;
}

